# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
docker-compose*
Dockerfile*

# Ignore development environment files
.vscode/
.vs/
*.user

# Ignore dependency directories
node_modules/
vendor/bundle/

# Ignore temporary files
*.log
tmp/
*.bak
*.swp

# Ignore build artifacts
bin/
obj/